/App3_Suma/JavaApplication25/nbproject/private/
/App3_Suma/JavaApplication26/nbproject/private/
/App3_Suma/nbproject/private/
/App3_Suma/build/
/App4_Calculadora/nbproject/private/
/App4_Calculadora/build/
/App5_Promedio/nbproject/private/
/App5_Promedio/build/