/Estructuras Sin Control/Taller 2/App3_AreaTriangulo/nbproject/private/
/Estructuras Sin Control/Taller 2/App2_Suma/nbproject/private/
/Estructuras Sin Control/Taller 2/App2_Suma/build/
/Estructuras Sin Control/Taller 2/App3_AreaTriangulo/build/
/Estructuras Sin Control/Taller 2/App4_AreaCirculo/nbproject/private/
/Estructuras Sin Control/Taller 2/App4_AreaCirculo/build/
/Estructuras Sin Control/Taller 2/App6_PrecioArticulo/nbproject/private/
/Estructuras Sin Control/Taller 2/App6_PrecioArticulo/build/
/Estructuras Sin Control/Taller 2/App8_AreaEsfera/nbproject/private/
/Estructuras Sin Control/Taller 2/App8_AreaEsfera/build/
/Ciclos If/Ejercicios 1/App1_MayorMenor10/build/
/Ciclos If/Ejercicios 1/App1_MayorMenor10/nbproject/private/
/Ciclos If/Ejercicios 1/App2_Negativo/build/
/Ciclos If/Ejercicios 1/App2_Negativo/nbproject/private/
/Ciclos If/Ejercicios 1/App3_Par/build/
/Ciclos If/Ejercicios 1/App3_Par/nbproject/private/
/Ciclos If/Ejercicios 1/App4_CalculoDefinitiva/build/
/Ciclos If/Ejercicios 1/App4_CalculoDefinitiva/nbproject/private/
/Estructuras Sin Control/Ejercicios 1/App1_InformacionPago/build/
/Estructuras Sin Control/Ejercicios 1/App1_InformacionPago/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App10_DescuentoTienda/build/
/Estructuras Sin Control/Ejercicios 2/App10_DescuentoTienda/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App11_SumaProducto/build/
/Estructuras Sin Control/Ejercicios 2/App11_SumaProducto/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App12_PorcentajeEstudiantes/build/
/Estructuras Sin Control/Ejercicios 2/App12_PorcentajeEstudiantes/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App13_SueldoExtras/build/
/Estructuras Sin Control/Ejercicios 2/App13_SueldoExtras/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App14_Presupuestos/build/
/Estructuras Sin Control/Ejercicios 2/App14_Presupuestos/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App15_SumaProducto/build/
/Estructuras Sin Control/Ejercicios 2/App15_SumaProducto/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App16_Funcion/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App1_HelloWord/build/
/Estructuras Sin Control/Ejercicios 2/App1_HelloWord/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App2_Suma/build/
/Estructuras Sin Control/Ejercicios 2/App2_Suma/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App3_AreaTriangulo/build/
/Estructuras Sin Control/Ejercicios 2/App3_AreaTriangulo/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App4_AreaCirculo/build/
/Estructuras Sin Control/Ejercicios 2/App4_AreaCirculo/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App7_PrecioArticulo/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App8_AreaEsfera/build/
/Estructuras Sin Control/Ejercicios 2/App8_AreaEsfera/nbproject/private/
/Estructuras Sin Control/Ejercicios 2/App9_PerimetroCuadrado/build/
/Estructuras Sin Control/Ejercicios 2/App9_PerimetroCuadrado/nbproject/private/
/Ciclos If/Ejercicios 1/App5_AlturaPersona/build/
/Ciclos If/Ejercicios 1/App5_AlturaPersona/nbproject/private/
/Ciclos If/Ejercicios 1/App6_LadosTriangulo/build/
/Ciclos If/Ejercicios 1/App7_ CalculoMonto/nbproject/private/
/Ciclos If/Ejercicios 1/App7_ CalculoMonto/build/
/Ciclos If/Ejercicios 1/App8_IdentificarDefectuoso/nbproject/private/
/Ciclos If/Ejercicios 1/App8_IdentificarDefectuoso/build/